body {
  background-color: #dddbcb;
  border-style: solid;
  border-width: 10px;
  padding: 25px 25px 25px 25px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

h1 {
  text-align: center;
  color: white;
}

p {
  font-size: 25px;
  text-align: center;
  color: #fccb06;
}

ol {
  font-size: 18 px;
  color: lightblue;
}

div {
  background-color: black;
}

blockquote {
  font-size: 10px;
}
